---
layout: archive
permalink: /chess/
title: "Chess posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Chess is a world goverend by a few rules. Enormous complexity rises from this small set of rules which has mesmerised chess theoreticians over centuries. It's been quite a while since the computers surpassed humans in chess. However, the purity of the game has kept it alive as an interesting problem for machine learning researchers. As an amateur chess player and a machine learner, I write here about the reciprocal benefits that chess can bring to machine learning and vice versa. Here I share my thoughts and short articles around Chess, both as a game and as a world.



{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.chess_posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}







